fastapi
uvicorn[standard]
websockets
python-dotenv
sqlalchemy
pydantic-settings
passlib[bcrypt,argon2]
bcrypt
python-multipart
python-jose[cryptography]
httpx
anyio
email-validator
pyjwt
argon2-cffi
argon2-cffi-bindings
